
<section class="section" id="schedule">
    <div class="container">
       
      <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading dark-bg">
                    <h2>Classes <em>Schedule</em></h2>
                    <img src="assets/images/line-dec.png" alt="">
                    <h2>Our schedule is from MONDAY TILL FRIDAY</h2>
                 <div class="filters">
                       <ul class="schedule-filter">
                        <li  routerLink="/Monday" routerLinkActive="active" >Monday</li>
                        <li routerLink="/Tuesday" routerLinkActive="active">Tuesday</li>
                        <li routerLink="/Wednesday" routerLinkActive="active">Wednesday</li>
                        <li routerLink="/Thrusday" routerLinkActive="active">Thrusday</li>
                        <li routerLink="/Friday" routerLinkActive="active">Friday</li>
                    </ul>
                </div>
                </div>
            </div>
          </div>
      
         <app-tablegym></app-tablegym> 

    </div>
</section>